<div *ngIf="hero">
  <h2>{{hero.name | uppercase}}</h2>
  <div><span>id: </span>{{hero.id}}</div>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-card>
        <mat-form-field class="full-width">
          <mat-label>Hero Name</mat-label>
          <input matInput placeholder="Hero Name" formControlName = "name" minlength= "3" maxlength= "30">
        </mat-form-field>
      </mat-card>

      <br>

      <mat-card>
        <mat-form-field class="full-width">
          <mat-label>Hero Description</mat-label>
          <input matInput placeholder="Hero Description" formControlName = "description" minlength="3">
        </mat-form-field>
      </mat-card>

      <br>

      <mat-card>
        <mat-form-field class="full-width">
          <mat-label>Hero Image URL: </mat-label>
          <input matInput placeholder="Hero Image" formControlName = "image">
        </mat-form-field>
      </mat-card>


      <br>

      <mat-card>
        <mat-form-field appearance="fill">
          <mat-label>Universe Hero</mat-label>
          <mat-select formControlName = "universe">
            <mat-option *ngFor="let universe of heroUniverse" [value]="universe">
              {{universe | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <br>

    <div class="example-button-row">
      <button mat-raised-button type="button" (click)="onGoBack()" >Go back</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="!formGroup.valid">save</button>
    </div>
  </form>  // Fim da tag form
</div>

<div *ngIf="hero">
  <h2>{{hero.name | uppercase}}</h2>
  <div><span>id: </span>{{hero.id}}</div>
