<h2>My Heroes</h2>

<div class="search-results" infiniteScroll (scrolled)="onScrollDown()">
  <mat-card *ngFor="let hero of heroes">
    <ul class="heroes">
      <li>
        <a routerLink="/detail/{{ hero.id }}">
          <div class="img">
            <img mat-card-image src="{{ hero.imageUrl }}" alt="" />
          </div>

          <div class="text">
            <mat-card-title>
              {{ hero.name }}
            </mat-card-title>

            <br />

            <mat-card-title>
              {{ hero.description }}
            </mat-card-title>
          </div>
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">
          x
        </button>
      </li>
    </ul>
  </mat-card>
</div>

<div class="add">
  <button
    class="add-button"
    mat-fab
    color="accent"
    aria-label="add new hero"
    [routerLink]="['/new']"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
