/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li:hover {
  left: 0.1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
}

.heroes a:active {
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  position: fixed;
}

.add-button:hover {
  color: white;
  background-color: #42545c;
}

button.delete {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 100%;
  top: 5px;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
  justify-content: right;
}

button.delete:hover {
  color: white;
}

.add {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  z-index: 9999;
}

.add .add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.search-results {
  width: 100%;
  height: 100%;
}
.search-results mat-card {
  width: 100%;
  font-size: 2rem;
  background: none;
}

.search-results li {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.img {
  left: 40px;
  position: absolute;
  width: 120px;
  height: 120px;
}

.img img {
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  left: 180px;
}

.text mat-card-title {
  width: 100%;
  height: 100%;
}
